.App {
  text-align: center;
}

body {
  background-color: rgba(238, 238, 238, 0.653);
}

.info {
  text-align: start;
}

.time {
  margin-top: -1rem;
  margin-bottom: 3rem;
  font-size: 0.8rem;
  text-align: start;
}

.city {
  font-size: 1.2rem;
}

.temp {
  font-size: 2rem;
  margin-top: -14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.italic {
  font-style: italic;
  text-transform: capitalize;
  font-size: 0.8rem;
}

h4 {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1025px){
  .boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
